@import "compass";
@include global-reset;

body {
  background: #ccc image-url("background.png");
  color: #999;
  text-align: center;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  @include adjust-font-size-to(32px);
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba( white, .3 );
  padding-top: 350px;
  background: image-url("middleman.png") no-repeat center 100px;
}

a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  @include adjust-font-size-to(15px);
  @include link-colors(#888, #666);
}

@import "animate";